.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
}

.course-card {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 330px;
  min-height: 350px;
  box-sizing: border-box;
  overflow: visible;
  justify-content: space-between;
  margin: 0 auto;
}

.course-card.locked {
  background-color: #D4C3BE;
  position: relative;
}

.course-card.locked .locked-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locked-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.locked-text {
  color: white;
  font-size: 16px;
}

.course-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

p {
  color: #666;
}

.course-image {
  width: 70%;
  margin: 20px 0;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  .main-content {
    padding: 0 10px;
  }
  .course-grid {
    grid-template-columns: 1fr; 
  }
}

@media (min-width: 768px) {
  .main-content {
    padding: 0 20px;
  }
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .main-content {
    padding: 0 40px;
  }
  .course-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
