.course-card {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Default to column layout */
  align-items: flex-start;
  width: 310px;
  min-height: 340px;
  box-sizing: border-box;
  overflow: visible;
  justify-content: space-between;
  margin: 0 auto;
}

/* Locked state styling */
.course-card.locked {
  background-color: #D4C3BE;
  position: relative;
}

/* Overlay for locked courses */
.course-card.locked .locked-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icon and text styles for locked courses */
.locked-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.locked-text {
  color: white;
  font-size: 16px;
}

.course-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  color: #666;
}

.course-image {
  width: 70%;
  margin: 20px 0;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1350px) {
  .course-card {
    width: 230px;
    min-height: 240px;
  }
}

@media (max-width: 1024px) {
  .course-card {
    display: flex;
    flex-direction: row; 
    min-width: 100%;
    min-height: auto; 
    align-items: center;
    padding: 40px;
  }

  .course-image {
    width: 40%; 
    margin: 0;
    object-fit: contain;
  }

  .course-card h3 {
    flex: 1; 
    margin-right: 20px; 
  }
}

@media (max-width: 768px) {
  .course-card {
    display: flex;
    flex-direction: row; 
    min-width: 80vw;
    min-height: auto; 
    align-items: center;
    padding: 40px;
  }

  .course-image {
    width: 40%; 
    margin: 0;
    object-fit: contain;
  }

  .course-card h3 {
    flex: 1; 
    margin-right: 20px; 
  }
}
